[submodule "affinity color-palette-gen"]
	path = affinity color-palette-gen
	url = https://github.com/nodeus/affinity-color-palette-gen.git
[submodule "affinity hanging-chars-and-prepositions"]
	path = affinity hanging-chars-and-prepositions
	url = https://github.com/nodeus/affinity-hanging-chars-and-prepositions.git
